$celeste: rgb(23, 184, 212);
$amarillo: rgb(238, 238, 42);
$rojo: rgb(245, 32, 32);
$verde: rgb(41, 235, 41);


@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}


.container {
    padding: 15px;
}

.jumbotron{
    background-image: url("/img/jumbotron.jpg");
    background-size: cover;
    @include margenes(0px, 0px );   
    width: 100%;
    padding-top: 150px;
}


/*---NAVBAR---*/

.navbar {
    padding: 0;
    background: transparent !important;
    transition: 0.5s ease;
    height: 80px;
}

.dropdown-menu{
    background-color: rgb(61, 169, 184);
}

.navbar.scrolled {
    background: whitesmoke !important;
   }

.logo {
    width: 70px; height: 70px;  
}

.nav-item{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.dropdown-item{
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.navbar i {
    padding-left: 15px;
    color: black;
}

.navbar i:hover {
    padding-left: 15px;
    color: white;
}

/*---TABS Y PILLS---*/

.tabs{
    background: $celeste;      
    height: 360px;
    padding: 30px 20px;
    overflow: hidden;
}

.tab-header{
    float: left;
    width: 180px;
    height: 100%;
    border-right: 1px solid #ccc;
    padding: 50px 0px;    
}


.tab-content {
    position: relative;
    height: 100%;  
     
}

.tab-content > div{
    position: absolute;
    text-align: center;
    padding: 40px 20px;    
}



/*---NEWSLETTER---*/
.newsletter{
    background-image: url("/img/newsletter.jpg");
    background-size: cover;
    height: 250px;
    padding-top: 50px;
}

/*---CARDS---*/
.card-area {
    padding: 80px 0;
}

.card {
    box-shadow: 0 0 30px $celeste;
    overflow: hidden;
    border-radius: 15px;
}

.card-img1 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}

.card-profile{
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
z-index: 1;
width: 140px;
height: 140px;
border-radius: 50%;
border: 7px solid #fff;
margin-top: -80px;
}

.btn-reserva{
    background-color:$celeste;
    font-weight: 600;
    border: none;
}

.card:hover .card-profile{
    border-color:$celeste;
    transition: 1s;
}

.card-text{
    padding: 30px 0;
    text-align: center;
}

.card-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}

.card-text p{
    font-size: 16px;
    padding: 0 35px
}

.socials{
    text-align: center;
    padding-bottom: 20px;
}

.socials i{
    font-size: 20px;
    color: $celeste;
    padding: 0 10px;
}